aside.vc-infobox-wrap li.slide{
	position: relative;
	background: none;
}

/*.slick-js .slides-slick>li img, .entry-content .slick-js .slides-slick>li img, .entry-related .slick-js .slides-slick>li img{
	position : relative;
	z-index: -1;
}*/

.slick-slide img {
	display: block;
	position: relative;
	z-index: -1;
}

.date{
	/*background: deepskyblue;*/
	width: 200px;
	/*height: 200px;*/
	margin-top: -50px;
	z-index: 2;
	float: right;
	padding: 1.5em 1.5em 2.5em 1.5em;
	color: #fff;
	min-height:150px;
}

.date span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	line-height: 30px;
}
.date h4 {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 0;
}

.slick-next:before{
	content:url('./../img/fleche-droite.png');
}

/*.slick-next {
	right: -9px;
}

.slick-prev {
	left: -150px;
}*/

.slick-prev:before{
	content:url('./../img/fleche-gauche.png');
}

.slick-js ul {
	margin: 0 !important;
}
.slides-slick {
	margin: 0;
}
.slides-slick li {
	margin: 0
}
.arrows-bottom {
	position: absolute;
/*	bottom: 40px;*/
	right: 50px;
}

span.openagenda-title{
	font-family: 'Marck Script', cursive;
	font-size: xx-large;
}

h3.vc-infobox-title.openagenda {
	font-size: larger;
}

.slide-pic{overflow:hidden;}

.slick-prev, .slick-next {
	bottom: 15px;
	top: inherit;
	width: 45px;
}
.slick-prev {
	right: 85px;
	left: inherit;
	z-index: 5;
}
.slick-next {
	right: 15px;
}

p.openagenda-lieu {
	font-size: small;
	margin-top: 5px;
}